<h1>Edit gossip</h1>

<%= form_for @gossips do |f|%>
   <div> 
    <label>Titre gossip</label> <br/> 
      <%= f.text_field :title %> <br/> <br/> 
    <label>Contenu gossip</label> <br/> 
      <%= f.text_area :content %><br/> <br/> 
  </div> 

  <div>
    <button type="submit">Edit</button>     
  </div>
<% end %>
