<html>
  <head>
    <title>Edit a gossip</title>
  </head>
  <body>
    <h1>Modifier mon gossip</h1>
    <p>Modifie ton gossip numéro =°<%= Gossip.find(params[:id]).id %></p>
    <form action='/gossip/' method='POST'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      Saisis ici ton nom : <input type='text' name='title'/><br/>
      Balance ta modif : <input type='text' name='content'/><br/>
       <input type='submit'/>
    </form>
  </body>
</html>